.parent-container {
  position: relative;
}
.text-nowrap {
  position: absolute;
  width: 90%;
  height: 450px;
  max-height: 450px;
}
#key-features{
    width: 900px;
}
.row {
  position: absolute;
  width: 100%;
  top: 450px;
}