.parent-container {
  position: relative;
}
.form-group {
  width: 400px;
  min-width: 340px;
  max-width: 29%;
}
.cob-input-label {
  position: absolute;
  left: 1%;
  top: 0px;
}
#cob-input {
  position: absolute;
  top: 25px;
  min-width: 340px;
  max-width: 25%;
}
.portfolio-input-label {
  position: absolute;
  left: 1%;
  top: 65px;
  min-width: 340px;
  max-width: 25%;
}
#portfolio-input {
  position: absolute;
  top: 90px;
  min-width: 340px;
  max-width: 25%;
}

.market-input-label {
  position: absolute;
  left: 1%;
  top: 130px;
  min-width: 340px;
  max-width: 25%;
}
#market-input {
  position: absolute;
  top: 155px;
  min-width: 340px;
  max-width: 25%;
}

.parameters {
  position: absolute;
  left: 1%;
  top: 210px;
  width: 340px;
}

.hl-risk-input-label {
  position: absolute;
  left: 1%;
  top: 260px;
  width: 200px;
}
#hl-risk-input {
  position: absolute;
  left: 240px;
  top: 255px;
  width: 100px;
}

.hl-corr-input-label {
  position: absolute;
  left: 1%;
  top: 310px;
  width: 200px;
}
#hl-corr-input {
  position: absolute;
  left: 240px;
  top: 305px;
  width: 100px;
}

.min-ret-hist-input-label {
  position: absolute;
  left: 1%;
  top: 360px;
  width: 200px;
}
#min-ret-hist-input {
  position: absolute;
  left: 240px;
  top: 355px;
  width: 100px;
}

.spec-hl-risk-input-label {
  position: absolute;
  left: 1%;
  top: 410px;
  width: 200px;
}
#spec-hl-risk-input {
  position: absolute;
  left: 240px;
  top: 405px;
  width: 100px;
}

.mean-to-zero-box-label{
  position: absolute;
  top: 450px;
  left: 130px
}
#mean-to-zero-box {
  position: absolute;
  top: 457px;
  left: 260px
}

.use-factors-box-label{
  position: absolute;
  top: 450px;
  left: 1%
}
#use-factors-box {
  position: absolute;
  top: 457px;
  left: 100px
}

#calc-btn {
  position: absolute;
  pointer-events: auto;
  top: 490px;
  left: 1%;
  min-width: 100px;
  max-width: 19%;
}
.log-container {
  position: absolute;
  top: 550px;
  left: 1%;
  min-width: 100px;
  max-width: 325px;
}



.table-container {
  position: absolute;
  top: 35px;
  left: 360px;
  width: 400px;
  height: 600px;
}

#top-right-chart-container {
  position: absolute;
  top: 35px;
  left: 780px;
  width: 450px;
  height: 400px;
}
#bot-first-chart-container {
  position: absolute;
  bottom: 0;
  left: 360px;
  height: 400px;
  max-width: 850px;
}

