.parent-container {
  position: relative;
}
.text-nowrap {
  position: absolute;
  width: 90%;
  height: 450px;
  max-height: 450px;
}
#key-features{
    width: 900px;
}
.row {
  position: absolute;
  width: 100%;
  top: 500px;
}
.card-body{
  width: 300px;
  height: 210px;
}
.card-text{
  height: 90px;
}
#card-img-explorer {
  position: absolute;
  left: 330px;
}
#card-img-risk-calc {
  position: absolute;
  left: 0px;
}